.app {
    width: 800px;
    height: 400px;
    border: 1px solid grey;
    margin: 200px auto;
    color: #555;
}

.myHeader {
    background-color: #ccc;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 20px;
}

.headItem {
    margin-left: 20px;
    font-size: 19px;
    font-weight: 600;
}

.myBody {
    padding: 50px;
    font-size: 16px;
    font-weight: 600;
}

.router-link-active{
    text-decoration: none;
}